@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
}

.headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}

.headertop a {
    margin-left: 10px;
    font-size: 18px;
    color: #C6C9CE;
    text-decoration: none;
}

.topleft h1 {
    font-size: 24px;
    color: #f9faf8;
}

.headerbottom {
    display: flex;
    align-items: center;
    padding: 100px 200px;
}

.headerbottom h1 {
    font-size: 48px;
    color: #f9faf8;
}

.headerbottom p {
    font-size: 18px;
}

.headerbtmleft {
    width: 450px;
    color: #C6C9CE;
}

.signup {
    background-color: rgb(45, 129, 255);
    border: none;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.rightsquare {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 525px;
    height: 250px;
    background-color:#6C747D;
    margin-left: 70px;
    color: #C6C9CE;
}

.sectiontwo {
    margin: 50px 0;
}

.sectiontwocontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.sectiontwo h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
}

.box {
    width: 175px;
    height: 175px;
    border: 4px solid #3B81F6;
    border-radius: 20px;
}

.boxtext {
    font-size: 18px;
    margin-top: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    color: #9FA4AC;
}



